X-Property and X-parameter names are case-insensitive

From:	Milan Crha <mcrha@redhat.com>
To:	libical-devel@lists.infradead.org
Date:	6/18/19 4:21 AM
I'm using libical 3.0.5 and while trying some other things I realized
that there's probably some issue with parsing of X- properties and
parameters. According to section 3.1 of the RFC 5545 [1] (the last
paragraph of that section):

   All names of properties, property parameters, enumerated property
   values and property parameter values are case-insensitive.  However,
   all other property values are case-sensitive, unless otherwise
   stated.

Which I understand as those property names and parameter names are case
insensitive. This works properly for standard properties and
parameters, but not for the "X-" properties and parameters.

As a test, I created this VEVENT:

   BEGIN:VEVENT
   UID:1
   DTSTART;x-corp-value=nnn;cn=name:20190619T100000Z
   DTEND;X-corp-value=nnn;CN=name:20190619T103000Z
   description:Description
   X-corp-prop1:111
   x-corp-prop2:222
   END:VEVENT

and I simply read it with icalcomponent_new_from_string() and then
immediately converted it back to the string with
icalcomponent_as_ical_string(), which resulted in:

   BEGIN:VEVENT
   UID:1
   DTSTART;CN=name:20190619T100000Z
   DTEND;X-corp-value=nnn;CN=name:20190619T103000Z
   DESCRIPTION:Description
   X-corp-prop1:111
   X-LIC-ERROR;X-LIC-ERRORTYPE=PROPERTY-PARSE-ERROR:Parse error in property 
    name: x-corp-prop2
   END:VEVENT

which dropped the lower case 'x-' property with the X-LIC-ERROR. It
also dropped the lower case 'x-' parameter of the DTSTART silently. I'm
not questioning whether it should drop the parameter silently or not,
I'm only wondering what the correct behavior for the lower case "X-"
properties/parameters should be.

I guess, according to the RFC mentioned above, the 'X-' names should be
also case insensitive, but I'm not sure, thus I'm asking first, before
diving into the code.

[1] https://tools.ietf.org/html/rfc5545#section-3.1

Milan,
Yes, I think you are correct about this.
I'm happy for you to take a look at fixing the code to handle case-insensitive "experimental" stuff.



is this still something we should look?
personally, I feel that libical did the "right thing" but I'm open to allowing case-insensitivity for the "X-" stuff
if someone wants to take it on.


