RRULE BYDAY & INTERVAL=2 cause conflict

Libical v3.0.4

I'm finding a strange interplay between the 2 options BYDAY and INTERVAL

DTSTART: 2019-01-01 10:00:00
RRULE: FREQ=WEEKLY;BYDAY=WE,FR;INTERVAL=2

Expected output of Recurrence Iterator is:

2019-01-02 10:00:00

Actual:

2019-01-09 10:00:00

Individually each of these rules appear to work as expected.

Incase it's relevant I'm using a Wrapper EXCAL to the library but it's pretty much noting more than a simple NIF passing through.


Do you get a different result for DTSTART:2019-01-02T10:00:00 ?


On 4/17/19 10:56 AM, Lee wrote:
>
> Libical v3.0.4
>
> I'm finding a strange interplay between the 2 options BYDAY and INTERVAL
>
> DTSTART: 2019-01-01 10:00:00
> RRULE: FREQ=WEEKLY;BYDAY=WE,FR;INTERVAL=2
>
> Expected output of Recurrence Iterator is:
>
> 2019-01-02 10:00:00
>
> Actual:
>
> 2019-01-09 10:00:00
>
> Individually each of these rules appear to work as expected.
>
> Incase it's relevant I'm using a Wrapper EXCAL to the library but it's 
> pretty much noting more than a simple NIF passing through.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub 
> <https://github.com/libical/libical/issues/376>, or mute the thread 
> <https://github.com/notifications/unsubscribe-auth/AHhC9A1ZmleYaI5nViSvjpx6uX_VhgeSks5vhzYPgaJpZM4c1Q4Y>.
>
-- 
Ken Murchison
Cyrus Development Team
FastMail US LLC



Just updated test, yes this passes the test:
`test "Recurrence Basic WEEKLY BY DAY Interval 2" do

    {:ok, iter} = Excal.Recurrence.Iterator.new("FREQ=WEEKLY;BYDAY=WE,FR;INTERVAL=2", ~N[2019-01-02 10:00:00])
    {occurrence, _iter} = Excal.Recurrence.Iterator.next(iter)
    
    assert ~N[2019-01-02 10:00:00] == occurrence

    {:ok, iter} = Excal.Recurrence.Iterator.new("FREQ=WEEKLY;BYDAY=WE,FR;INTERVAL=2", ~N[2019-01-01 10:00:00])
    {occurrence, _iter} = Excal.Recurrence.Iterator.next(iter)
    
    assert ~N[2019-01-02 10:00:00] == occurrence

  end`

I will take a look at this when I get a chance.  However, per RFC 5545, Section 3.8.5.1:

      The "DTSTART" property
      defines the first instance in the recurrence set.  The "DTSTART"
      property value SHOULD match the pattern of the recurrence rule, if
      specified.  The recurrence set generated with a "DTSTART" property
      value that doesn't match the pattern of the rule is undefined.

So, the current behavior of libical technically isn't illegal.

OK thanks, that makes complete sense, I may have had a misunderstanding between dtstart and running the iterator from a given point when I first wrote the tests.

I presume it's just doing an undefined default of setting the start week tot he first week of the month for the rule, as legit as any other behaviour given the spec I guess.

The iterator code does try to do the right thing if DTSTART doesn't match the pattern, but this combination was either an oversight or there is a bug.

What happens for DTSTART:2019-01-01 and INTERVAL=1?

Passing:
`
    {:ok, iter} = Excal.Recurrence.Iterator.new("FREQ=WEEKLY;BYDAY=WE,FR;INTERVAL=1", ~N[2019-01-01 10:00:00])
    {occurrence, _iter} = Excal.Recurrence.Iterator.next(iter)
    
    assert ~N[2019-01-02 10:00:00] == occurrence
`

can I close this?


I'd leave it open as I'd like to fix this at some point.

ok, moving to the 3.0.6 milestone.  

This should be fixed by the commit referenced above