Leading tab specifies continuation line  [sf#14]

RFC2445, section 4.1, specifies that a leading 
space or tab indicates a continuation line. Currently 
(0.24 RC4), libical only recognises a space as a 
continuation line indicator. Here is a patch to fix 
this.
