Accommodate new properties which don't  have "default" value types

Accommodate new properties which don't have "default" value types and always need the VALUE= parameter included  on output, per RFC 7986, Section 3.  requires new fields in properties.csv

Attached is a patch for a pretty substantial rewrite to property and value handling: 
[no-default_multi-valued.diff.txt](https://github.com/libical/libical/files/669000/no-default_multi-valued.diff.txt)

New/changed behavior:

- Adds Flags field to properties.csv to specify multi-valued and structured types (special handling)
- Adds these flags along with allowed value types and libical value type to property_map (with corresponding perl script changes)
- properties.csv can now specify NO as default value type, thus forcing VALUE= parameter on output
- Adds 3 new functions: icalproperty_value_kind_is_valid(), icalproperty_value_kind_is_multivalued(), icalproperty_value_kind_is_default() which now do all of the special handling rather than a bunch of conditional code
- When outputting properties as strings, VALUE= parameter is ONLY added for non-default values, even if VALUE= was explicitly set on creation

Questions/notes:

- Should the 3 new functions be private to the library?  I'm not sure if they have value for general use.
- 5 regression test fail due to expecting VALUE= parameter even though the value type is the default.  Should I fix the regression tests, or backout my VALUE= change?
- Should X- properties with no explicit VALUE= parameter be treated as multi-valued?  The documented default type for X- properties is TEXT, which leads me to think that we should treat as them multi-valued, but I don't care either way.  I'm just not sure what existing software expects

**I'd like a review of the changes and a discussion of my questions/notes before I commit.**

the code looks good in general.  I may have a few nits that I can cleanup later, but this is great stuff.

* Should the 3 new functions be private to the library? I'm not sure if they have value for general use.
No, please make them private.

* 5 regression test fail due to expecting VALUE= parameter even though the value type is the default. Should I fix the regression tests, or backout my VALUE= change?
can you ifdef out those tests for now?  I'd like to take a closer look after you commit 
#ifdef NEEDS_REVIEW or some-such

* Should X- properties with no explicit VALUE= parameter be treated as multi-valued? 
I would go with multi-valued

One potential problem with automatically treating X- properties as multivalued properties is the workaround for X-APPLE-STRUCTURED-LOCATION that is getting removed in this patch (in icalparser's handling of ICAL_X_PROPERTY).

There's a lot of those out in the wild, so automatically treating X- properties as multivalued would cause problems for that particular property. That one property could be whitelisted, but would that difference in behavior be surprising to anyone who uses this in the future?

My patch only treats properties with value types documented in RFC5545 as being multi-valued, as multi-valued.  Therefore, the X-APPLE property is left alone because its VALUE=URI.  The other allowed multi-valued types (DATE*, INTEGER, PERIOD, etc) would never have a comma in the values, so there is no problem there.

Any vendor using a single valued X- property with VALUE=TEXT and having unescaped commas deserves to have their property mangled.

Fixed with https://github.com/libical/libical/commit/2b199ece24d6d05f199d842a831bd8d5102dbbeb

5 regression tests have been #ifdef NEEDS_REVIEW.  All we need to do in order to make these tests pass is to remove the VALUE= parameter from the expected output